<nav class="navbar navbar-light bg-light p-0">
    <ul class="nav-list d-flex justify-content-between align-items-stretch w-100 h-100 m-0 p-0">
        <li *ngFor="let item of navItems" class="nav-item flex-fill h-100">
            <a [routerLink]="item.route" routerLinkActive="active"
                class="nav-link d-flex flex-column align-items-center justify-content-center h-100 w-100">
                <i class="bi" [ngClass]="item.icon"></i>
                <!-- <span class="nav-label">{{ item.label }}</span> -->
            </a>
        </li>
    </ul>
</nav>