<div class="home-container">
    <app-header pageTitle="Home" class="sticky-header">
      <ng-container CanvasHeaderLeft>
        <button (click)="nbParagraphes === 2 ? nbParagraphes = 100 : nbParagraphes = 2">Cliquez ici pour afficher 2 paragraphes</button>
      </ng-container>
      <ng-container CanvasHeaderCenter>Center content</ng-container>
      <ng-container CanvasHeaderRight>Right content</ng-container>
    </app-header>
    <div class="content-area">
      <p *ngFor="let i of [].constructor(nbParagraphes)">
        This is a paragraph of fake text to demonstrate scrolling.
      </p>
    </div>
  </div>
